server {
    listen   80 {% if project_domain is not defined  %} default_server {% endif %};
    {% if project_domain is defined  %}
    server_name  {{project_domain}};
    {% endif %}
    rewrite ^ https://$server_name$request_uri? permanent;
}

server {
    listen   443 {% if project_domain is not defined  %} default_server {% endif %};
    {% if project_domain is defined  %} default_server {% endif %}
    server_name  {{project_domain}};
    {% endif %}
    ssl on;
    ssl_certificate {{project_domain_ssl_cert}};
    ssl_certificate_key {{project_domain_ssl_key}};


    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_dhparam {{project_domain_ssl_dhparam}};

    # config to enable HSTS(HTTP Strict Transport Security)
    # https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security
    # to avoid ssl stripping https://en.wikipedia.org/wiki/SSL_stripping#SSL_stripping
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";


    keepalive_timeout 300;

    client_max_body_size 250m;

    access_log  /var/log/nginx/{{project_domain}}.access.log;

    error_page 502 503 504 /50x.html;

    location /50x.html {
        root /var/www/default_server;
    }

    location /static/ {
        autoindex on;
        alias /home/{{project_user}}/collected_static/ ;
    }

    location / {
        uwsgi_pass unix:///tmp/uwsgi.{{project_user}}.sock;
        proxy_redirect          off;

        uwsgi_param  QUERY_STRING       $query_string;
        uwsgi_param  REQUEST_METHOD     $request_method;
        uwsgi_param  CONTENT_TYPE       $content_type;
        uwsgi_param  CONTENT_LENGTH     $content_length;

        uwsgi_param  REQUEST_URI        $request_uri;
        uwsgi_param  PATH_INFO          $document_uri;
        uwsgi_param  DOCUMENT_ROOT      $document_root;
        uwsgi_param  SERVER_PROTOCOL    $server_protocol;
        uwsgi_param  HTTPS              $https if_not_empty;

        uwsgi_param  REMOTE_ADDR        $remote_addr;
        uwsgi_param  REMOTE_PORT        $remote_port;
        uwsgi_param  SERVER_PORT        $server_port;
        uwsgi_param  SERVER_NAME        $server_name;

        uwsgi_read_timeout      5m;
        uwsgi_connect_timeout   5m;
        uwsgi_send_timeout      5m;

        proxy_set_header        Host                    $host;
        proxy_set_header        X-Real-IP               $remote_addr;
        proxy_set_header        X-Forwarded-For         $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Protocol    https;
    }

}
